<%- include("header") -%>

  <div class="box" id="heading">
    <h1> Your ToDo-List </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<content.list.length; i++) { %>
      <div class="item">
        <form action='/delete' method="post">
            <input type="checkbox" value=<%=content.type%> name="datatype" onChange='this.form.submit()' >
            <input type ="hidden" value=<%=content.idList[i]%> name="dataid">
            <input type="hidden" name="user_id" value=<%=content.user_id%>>
            <input type="hidden" name="date_id" value=<%=content.date_id%>>

            <p><%= content.list[i]  %></p>
        </form>

      </div>
      <% } %>

      <form class="item" action='/create' method='post'>
        <input type="hidden" name="date_id" value=<%=content.date_id %>>
        <input type = 'hidden' name='user_id' value = <%=content.user_id %> >
        <input type="hidden" name="datatype" value=<%=content.type %>>
        <input type="text" name="newItem" size='10'>
        <button type="submit" name="list">+</button>
      </form>
  </div>

  <%- include("footer") -%>
